/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registration-body, .login-body {
 background-image: url('../image/registration.jpg');
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: #5A6650;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}


.registration-body .container,
.login-body > .container {
    background-color: rgba(14, 64, 45, 0.4); /* 40% opacity */
    width: 100%;
    height: 100vh;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

/* #container {
    width: 100%;
    height: 100%;
} */


/*login page*/

.form-signin {
    max-width: 330px;
    margin: 100px auto 100px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.form-signin h2.form-signin-heading {
    margin: 0;
    padding:20px 15px;
    text-align: center;
    background: #0E402D;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.form-signin .checkbox {
    margin-bottom: 14px;
}
.form-signin .checkbox {
    font-weight: normal;
    color: #5A6650;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    font-size: 12px;
}

.form-signin .btn-login {
    background: #0E402D;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px #0E402D;
    margin-bottom: 20px;
}

.form-signin p {
    text-align: center;
    color: #5A6650;
    font-size: 16px;
    font-weight: 300;
}

.form-signin a {
    color: #5A6650;
}

.form-signin a:hover {
    color: #5A6650;
}

.login-wrap {
    padding: 20px;
}

.login-social-link  {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.login-social-link a {
    color: #fff;
    padding: 15px 28px;
    border-radius: 4px;
}

.login-social-link a:hover {
    color: #fff;
}

.login-social-link a i {
    font-size: 20px;
    padding-right: 10px;
}


/* password show hide */
.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* space for eye icon */
}

.password-container button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

/* input */
.form-group{
    margin-bottom: 19px;
}


/* alerts */
.alert-success {
    background-color: #28a745 !important;
    color: #fff !important;
}
.alert {
    position: relative; /* ya fixed/absolute agar overlay ke upar chahiye */
    z-index: 1050;      /* Bootstrap modals / alerts ke liye standard */
}
